$bggrey: #F2F2F2;
$darkgreyfont: #464646;
$bluefont: #439DD5;
$lightgreyfont: #999999;
$fontlarge: 20px;
$fontsmall: 14px;
$red: #FF6A6A;

.order-box {
  background-color: $bggrey;
  max-width: 620px;
  overflow: hidden;
}
.header-box {
  background-color: $bggrey;
}
.header {
  font-size: 30px;
  font-weight: bold;
  color: $darkgreyfont;
  line-height: 90px;
}
.close {
  cursor: pointer;
}
.order-content {
  position: relative;
  top: -5px;
  border-bottom: 0.8px solid #DCDCDC;
  background-color: white;
  box-shadow: 0 1px 5px rgba(122, 122, 122, 0.4);
}
.input-box {
  position: relative;
  width: 100%;
  padding: 20px;
  font-size: 16px;

}
.border-add {
  border-bottom: 0.1px solid #DCDCDC;
}
.input-field {
  max-width: 580px;
  height: 50px;
}
.red {
  border: 1px solid $red!important;
}
.input-field>input {
  padding-left: 15px;
  height: 46px;
  max-width: 500px;
  border: none;
  color: $darkgreyfont;
}
.error-message {
  margin-top: 10px;
  color: $red;
}
.form-group {
  margin-bottom: 0;
}
.promo-element {
  border-bottom: 0.1px solid #DCDCDC;
}

.promo-type {
  line-height: 30px;
  width: 130px;
}
.acceleration {
  border-bottom: 0.1px solid #DCDCDC;
  padding: 30px 20px;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: 60px auto 80px 30px;
}
.promo-sum {
  max-width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #DCDCDC;
  padding: 10px;
}
.promo-sum>input {
  width: 290px;
  border: none;
  line-height: 28px;
  color: $darkgreyfont;
}
textarea:focus, input:focus{
  outline: none;
}
.sum {
  line-height: 28px;
  color: #999999;
  margin-right: 10px;
}
fas {
  line-height: 30px;
  color: #999999;
}
.fast-header {
  color: $darkgreyfont;
  line-height: 50px;
}
.fast-header2 {
  color: #999999;
  line-height: 50px;
}
.check {
  line-height: 50px;
}
.sum-container {
  width: 100%;
  font-size: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.total {
  color: #999999;
  margin-right: 15px;
}
.total-sum {
  color: $darkgreyfont;
}

button {
  width: 280px;
  height: 40px;
  border-radius: 30px;
  border: transparent;
}
.pink-button {
  background-color: rgba(255, 108, 108, 0.26);
}
.promo-sum>i {
  font-size: 16px;
  margin-left: 10px;
}

@media only screen and (max-width: 576px){
  .header {
    padding: 30px 0;
    position: relative;
    top: -10px;
    font-size: 22px;
    line-height: 32px;
  }

  .input-field>img {
    height: 30px;
  }
  .input-field>input {
    padding-left: 15px;
    height: 46px;
    overflow: hidden;
  }
  .promo-element {
    border-bottom: 0.1px solid #DCDCDC;
    padding: 30px 10px 30px 20px;
    display: grid;
    grid-template-rows: auto auto;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .promo-type {
    padding: 10px 20px 20px 20px;
    justify-content: flex-start;
  }

  .promo-sum>input {
    width: 200px;
  }
  .sum {
    margin: 5px;
  }
  .fas {
    line-height: 28px;
  }
  .acceleration {
    padding: 30px;
    grid-template-columns: 60px auto 30px;
    grid-gap: 5px;
    grid-template-rows: auto 22px;
  }
  .acceleration.icon {
    grid-area: 1/1/3/2;
  }
  .fast-header {
    text-align: right;
    font-size: $fontsmall;
    line-height: 22px;
    grid-area: 1/2/2/3;
  }
  .fast-header2 {
    text-align: right;
    font-size: 14px;
    line-height: 22px;
    grid-area: 2/2/3/3;
  }
  .check {
    text-align: right;
    grid-area: 1/3/2/4;
  }
  .button-container {
    margin: 20px 10px;
  }
  button {
    margin: 0 5px;
  }
}
